body {
  height: 100%;
  width: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.Footer{
   position: fixed;
   left: 0;
   bottom: 1rem;
   width: 100%;
   color: grey;
   text-align: center;
}

.Header{
  display: block;
  position: fixed;
  left:0;
  top: 0;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  width: 100%;
  color: grey;
  text-align: left;
}

.Form{
margin-top: 50%;
margin-left: 50%;
}
